<!-- templates/beans/cafe-edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>カフェの編集</title>
</head>
<div layout:fragment="content">
    <div class="container mt-5">
        <h3 class="mb-4 text-center">カフェの編集</h3>
        <form th:action="@{/cafes/edit/{id}(id=${cafe.id})}" method="post" th:object="${cafe}" class="needs-validation">
            <div class="mb-3">
                <label class="form-label">カフェ名</label>
                <input type="text" th:field="*{name}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">住所</label>
                <input type="text" th:field="*{address}" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">説明</label>
                <textarea th:field="*{description}" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">画像URL</label>
                <input type="text" th:field="*{imageUrl}" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">保存</button>
		        <a th:href="@{/my/cafes}" class="btn btn-secondary">キャンセル</a>
		        <button type="submit" th:formaction="@{/cafes/delete/{id}(id=${cafe.id})}" 
		                class="btn btn-danger"
		                onclick="return confirm('本当に削除しますか？')">削除</button>
            </div>
        </form>
    </div>
</div>
</html>