<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<title>Login</title>
<link th:href="@{/css/user/login.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<form>
		    <table>
		    <tr>
		        <td><h2>ログイン</h2></td>
		    </tr>
		    <tr>
		        <td><input type="text" placeholder="メールアドレス"></td>
		    </tr>
		    <tr>
		        <td><input type="password" placeholder=パスワード></td>
		    </tr>
		    <tr>
		        <td><input type="submit" value="ログイン" class="btn" onclick="alert('로그인 성공!')"></td>
		    </tr>
		    <tr>
		        <td class="join"><a href="/user/join">新規会員登録</a></td>
		    </tr>
		    </table>
		</form>
	</div>
</body>
</html>