<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<title>verify-fail</title>
<link th:href="@{/css/user/verify.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content" class="wrap shadow-sm p-3 mb-5 bg-body-tertiary rounded">
		<img th:src="@{/images/icon/check.gif}" class="icon">
		<p class="msg">ご本人確認のメールをお送りしました。</p>
		<p class="msg">メールボックスをご確認ください。</p>
		<a href="/user/login" class="verify-btn">ログインする</a>
	</div>
</body>
</html>