<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style='font-family:sans-serif; font-size:14px;'>
		<p>MY COFFEE MAPにご登録いただきありがとうございます！</p><br>
		<p>下のリンクをクリックして、メールアドレスの認証を完了してください👇</p>
		<p><a href='" + verificationUrl + "' style='color:#0080ff;'>▶ メール認証リンクはこちら</a></p>
		<p>※ リンクの有効期限は <strong>24時間</strong> です。</p><br><hr>
		<p>ご不明な点がありましたら、気軽にご連絡ください ☕</p>
		<p>MY COFFEE MAP TEAM<br>
		<a href='http://localhost:8070/mycoffeemap'>▶ MY COFFEE MAP サイト リンク</a></p>
	</div>
</body>
</html>