<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div style='font-family:sans-serif; font-size:14px;'>
		<p>MY COFFEE MAPにご登録いただきありがとうございます！</p><br>
		<p>下のリンクをクリックして、メールアドレスの認証を完了してください👇</p><br>
		<p style='margin-left: 50px;'><a href='" + verificationUrl + "' style='display:inline-block; padding:10px 20px; 
											 color: #ff6c57; background-color:#fdeae0; text-decoration:none; border-radius:5px;'>				   
		▶ メール認証リンクはこちら</a></p>
		<p>※ リンクの有効期限は <strong>24時間</strong> です。</p><br><hr>
		<p>ご不明な点がありましたら、気軽にご連絡ください ☕</p>
		<p>MY COFFEE MAP TEAM<br>
		<a href='http://localhost:8070/mycoffeemap'>▶ MY COFFEE MAP サイト リンク</a></p>
		
	</div>

<!-- 
	<div style='font-family:sans-serif; font-size:14px;'>
		<p>MY COFFEE MAPをご利用いただきありがとうございます。</p><br>
		<p>以下のリンクをクリックして、パスワードの再設定を行ってください👇</p>
		<p>
			<a href='" + verificationUrl + "' style='display:inline-block; padding:10px 20px; color: #ff6c57; background-color:#fdeae0; 
											  text-decoration:none; border-radius:5px;'>
			▶ パスワードを再設定する</a>
		</p>
		<p>※ このリンクの有効期限は <strong>30分</strong> です。</p><br><hr>
		<p>ご不明な点がありましたら、お気軽にお問い合わせください　☕</p>
		<p>MY COFFEE MAP TEAM<br>
		<a href='http://localhost:8070/mycoffeemap'>▶ MY COFFEE MAP サイトリンク</a></p>
	</div>
 -->
</body>
</html>