<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<title>verify-fail</title>
<link th:href="@{/css/user/verify.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content" class="wrap shadow-sm p-3 mb-5 bg-body-tertiary rounded">
		<img th:src="@{/images/icon/error.png}" class="error-icon">
		<p class="msg error" th:text="${message}"></p>
		<div class="btn-wrap">
			<a href="/mycoffeemap" class="verify-btn fail">メインページへ</a>
			<a href="/user/login" class="verify-btn fail">ログインする</a>		
		</div>
	</div>
</body>
</html>