<!-- templates/fragments/header.html -->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="header-logo" th:src="@{/images/coffee_logo_text1.svg}" alt="로고"></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/login}">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">회원가입</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
