<!-- templates/fragments/header.html -->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!-- 좌측 로고 -->
            <a class="navbar-brand" href="/mycoffeemap">
                <img class="header-logo" th:src="@{/images/coffee_logo_text1.svg}" alt="MyCoffeeMap ロゴ">
            </a>
            <!-- 우측 메뉴 -->
            <ul class="navbar-nav">
                <li th:if="${session.user == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/user/login}">ログイン</a>
                </li>
                <li th:if="${session.user != null}" class="nav-item">
                    ようこそ <span th:text="${session.user.nick}"></span> さん！
                </li>
                <li th:if="${session.user != null}" class="nav-item me-2">
                    <a class="btn btn-outline-secondary btn-sm" th:href="@{/my}">マイページ</a>
                    <a class="btn btn-outline-danger btn-sm" th:href="@{/user/logout.do}">ログアウト</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
